<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
    <div id="footer-social" class="inner">
      <a href="//twitter.com/dotenorio" title="dotenorio nop Twitter" target="__blank" class="social-twitter"></a>
      <a href="//facebook.com/dotenorio" title="dotenorio no Facebook" target="__blank" class="social-facebook"></a>
    </div>
  </div>
</footer>