<div class="widget-wrap">
  <h3 class="widget-title"><%= __('about') %></h3>
  <div class="widget">
    <img src="<%- gravatar('dotenorio@gmail.com', {s: 300}) %>" alt="Esse sou eu" style="width: 100%">
    <p style="text-align: justify">Estou na área de TI já a mais de 10 anos, sempre trabalhei com tecnologias web e atualmente volto meus esforços para o Javascript, mais especificamente para o NodeJS.</p>
    <p style="text-align: justify">Atualmente atuo como engenheiro na TecnoSpeed fazendo imersões nos Squads com intuito de estabilizar produtos, tomada de
    decisões técnicas, fazendo repasse de cultura da empresa, tornar os membros profissionais melhores, enfim, amadurecer o squad
    tornando-o pronto para qualquer desafio mesmo quando a imersão acabar.</p>
  </div>
</div>