<div class="widget-wrap">
  <h3 class="widget-title"><%= __('about') %></h3>
  <div class="widget">
    <img src="<%- gravatar('dotenorio@gmail.com', {s: 300}) %>" alt="Esse sou eu" style="width: 100%">
    <p style="text-align: justify">Estou na área de TI já a mais de 10 anos, sempre trabalhei com tecnologias web e atualmente volto meus esforços para o Javascript, mais especificamente para o NodeJS.</p>
    <p style="text-align: justify">No momento, atuo como couch técnico (ou professor business) da minha empresa, procurando formas de disseminar conhecimento, incentivando os olaboradores a criar materiais como posts, talks e curso internos sobre os temas dos quais dominam ou estão na busca deste domínio. E também, fazendo mentoria sempre que necessário.</p>
  </div>
</div>